.table-wrapper
{
    width: 100%;
    overflow: auto;
    padding: 10px;
}

table
{
    width: 100%;
    margin-right: 20px;
}

.center-text{
  text-align: center;
}
.main-div{
  width: 90%;
  margin: auto;
  margin-top: 50px;
}
.blank-text{
  font-weight: 300;
  font-size: 24px;
}

.logo-img{
  height:150px;
}

.add-emp{
  margin: 10px;
}

.blank-img{
  height:300px;
}

@media(max-width:599px){
  .logo-img{
    height:100px;
  }
  
}