<h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
  <form [formGroup]='createEmployee' (ngSubmit)='onSubmit(createEmployee.value)' class="example-form">
    <mat-form-field class="full-width">
        <input matInput formControlName="name" type="text" placeholder="Name">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput formControlName="employee" type="text" placeholder="Employee ID">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Department</mat-label>
        <select matNativeControl formControlName="department" required>
            <option value="Backend">Backend</option>
            <option value="Frontend">Frontend</option>
            <option value="Fullstack">Fullstack</option>
            <option value="Emptystack">Emptystack</option>
        </select>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input formControlName="email" type="email" matInput placeholder="Email ID">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput formControlName="doj" [matDatepicker]="picker" placeholder="Date Of Joining (DOJ)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
    <div>
        <button mat-button type="button" (click)="resetForm()">Clear</button>
        <button mat-button type="submit" [mat-dialog-close]="createEmployee.value" color="primary" [disabled]="!createEmployee.valid">Submit Details</button>
    </div>
  </form>
</div>

